body 
{
	display: flex;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

.header-navbar
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #1F2937;
}

ul
{
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.logo
{
	font-size: 24px;
	color: #F9FAF8;
	padding: 24px 0 24px 420px;
}

.links
{
	gap: 16px;
	font-size: 18px;
	color: #E5E7EB;
	padding: 24px 420px 24px 0;
}

.header-content
{
	display: flex;
	background: #1F2937;
	justify-content: space-between;
	padding: 70px 0 100px 0;
}

.main-content
{
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-direction: column;
	padding-left: 420px;
}

.main-text
{
	font-size: 48px;
	margin-bottom: 0;
	color: #F9FAF8;
	font-weight: bold;
}

.main-subtext
{
	font-size: 18px;
	margin-top: 0;
	margin-bottom: 0;
	color: #E5E7EB;
	width: 465px;
}

.main-button
{
	background: #3882F6;
	color: #F9FAF8;
	border: 0px;
	border-radius: 6px;
	padding: 8px 32px;
	font-size: 18px;
	font-weight: bold;
}

.main-image
{
	min-height: 250px;
	min-width: 550px;
	height: 250px;
	padding-right: 420px;
	padding-top: 50px;
	align-self: center;
}

.info
{
	margin-bottom: 150px;
}

.title
{
	font-size: 36px;
	font-weight: bold;
	text-align: center;
}

.images
{
	display: flex;
	justify-content: center;
	gap: 48px;
}

.images img
{
	max-height: 200px;
	border-radius: 18px;
	border: 5px solid #3882F6;
}

.captions
{
	display: flex;
	justify-content: center;
	gap: 86px;
}

.captions p
{
	flex-shrink: 0;
	text-align: center;
	width: 170px;
	font-size: 18px;
	color: grey;
}

.quote
{
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #E5E7EB;
	padding: 100px 0;
}

.main-quote
{
	font-size: 36px;
	color: #1F2937;
	font-weight: 300;
	width: 800px;
	margin:0;
}

.credit
{
	margin: 0;
	align-self: flex-end;
	padding-right: 580px;
	font-size: 24px;
	font-weight: bold;
}
